
    body{
        background-color: hsl(229, 57%, 11%);
        font-size: 2rem;
        font-family:"Raleway", sans-serif;
    }

    .first-container{

    }
   
    .card{
        
        background-color:  hsl(229, 57%, 11%);
        padding-top: 20px;
        width: 18rem; 
        border-top-right-radius: 10px
    }
    .icon-bg{
        border-radius: 10px;
        background-color:  hsl(228, 56%, 26%)

    }
 
    
    #storagebar{
        background-color:  hsl(228, 56%, 26%);
    }

    #large-grid{
            background-color: hsl(229, 57%, 11%);
  }

  #progress-bar{
    background-color: ;
    color: white;
  }
  



    @media screen and (max-width:600px){
  body{
    background-image: url('images/bg-mobile.png');
    
    } 
    }
    @media screen and (min-width:601px){
    body{
        background-image: url('images/bg-desktop.png');
       
    }
 }
 