    body{
        background-color: hsl(229, 57%, 11%);
        font-size: 2rem;
        font-family:"Raleway", sans-serif;
    }

    #card-container{    
        width: 18rem;
    }

    span{
        color: hsl(229, 7%, 55%);
    }
   
    .card{
        
        background-color:  hsl(229, 57%, 11%);
        padding-top: 20px;
        /*width: 18rem; */
        border-top-right-radius: 10px
    }

    .icon-background{
        border-radius: 10px;
        background-color:  hsl(228, 56%, 26%)
    }

    #storagebar{
        background-color:  hsl(229, 57%, 11%);
    }

    .progress{
    width: 81.5%;
    height: 14px;
    }

    .progress-bar{
        background-color: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
    }

    .pop-up{
        right: 1rem; top: -1rem;
        background: #fff; color: #111;
        border-radius: 10px;
        text-align: center;
    }
    .arrow{
        width: 0; height: 0;
        border-left: 12px solid transparent;
        border-right: 0 solid transparent;
        border-top: 12px solid #fff;
      }


    @media screen and (max-width:600px){
  body{
    background-image: url('images/bg-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;

    } 
    }

    @media screen and (min-width:601px){
    body{
        background-image: url('images/bg-desktop.png');
       background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center bottom;
    }
 }
 